*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
   display: flex;
   justify-content: space-between;
  
}
#main .container-fluid{
    background-color: #f6f7fc
}
   
#main .login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#main .container-fluid .login .box label{
    font-weight: 500;
}
#main .container-fluid .login .box .input{
    width: 600px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 5px;
}
#main .container-fluid .login .box .input::placeholder{
    font-size: 20px;
    padding-left: 20px;
}

#main .container-fluid .login .box .box-password{
    width:600px ;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
#main .container-fluid .login .box .box-password .box{
    display: flex;
    
}
#main .container-fluid .login .box .box-password .box .wrapper{
    width: 150px;
    height: 30px;
    border-radius: 5px;
    position: relative;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;   
   display: flex;
   justify-content: space-between;
   align-items: center;

}

#main .container-fluid .login .box .box-password .wrapper input[type="checkbox"] {
   accent-color: #f8761e;
   width: 20px;
   height:20px;
   border-radius: 5px;   
    appearance: none;
    -webkit-appearance: none;
    background-color: #d5d5d5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    position: absolute;
}
#main .container-fluid .login .box .box-password .wrapper label{
    position: absolute;
    left: 30px;
}
#main .container-fluid .login .box .box-password .wrapper input[type="checkbox"]:after{
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    color: white;
    display: none;
}
#main .container-fluid .login .box .box-password .wrapper input[type="checkbox"]:hover{
    background-color: #a5a5a5;
}
#main .container-fluid .login .box .box-password .wrapper input[type="checkbox"]:checked{
    background-color: #f8761e;
    
}
#main .container-fluid .login .box .box-password .wrapper input[type="checkbox"]:checked:after{
    display: block;
}

#main .container-fluid .login .box button{
    width: 600px;
    height: 50px;
    background-color: #f8761e;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
#main .img{
    width: 788px;
   height: 100vh;
}
#main .img img{
    width: 100%;
    height: 100%;
}
